<div class="container">
<style type="text/css">
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
  @import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}
</style>
  <% if @trips.size == 0 %>
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card" style="background-color: #212121;">
          <div class="text-white text-center d-flex align-items-center py-5 px-4 my-5">
            <div>
              <h1 class="card-title pt-3 mb-5 font-bold"><strong>У вас ещё нет сохранённых поездок...</strong></h1>
              <p class="mx-5 mb-5">Но это легко поправить))) ,
                  laboriosam, voluptatem, optio vero odio nam sit officia accusamus
                  minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
                  dolorum!.</p>
              <a class="btn btn-outline-white" href="<%= new_trip_path %>"><i class="fa fa-clone left"></i> Поехали! </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= render @trips %>
  <% end %> 
</div>