/* line 5, app/assets/stylesheets/places.scss */
#map {
  width: 100%;
  height: 400px;
}

/* line 9, app/assets/stylesheets/places.scss */
#map2 {
  width: 100%;
  height: 400px;
}

/* line 13, app/assets/stylesheets/places.scss */
#map3 {
  width: 100%;
  height: 400px;
}
