<br>
<div class="btn-group" role="group" aria-label="Basic example">
	<% if controller_name != 'sessions' %>
		<a href="<% new_session_path(resource_name) %>">
			<button type="button" class="btn btn-outline-primary">Log in</button>
		</a>
	<% end %>

	<% if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <a href="<% new_registration_path(resource_name) %>">
    	<button type="button" class="btn btn-outline-primary">Sign Up</button>
    </a>
	<% end %>
    
  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
		<a href="<% new_password_path(resource_name) %>">
    	<button type="button" class="btn btn-outline-primary">Forgot your password?</button>
    </a>
	<% end %>
    	
  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  	<a href="<% new_confirmation_path(resource_name) %>">
    	<button type="button" class="btn btn-outline-primary">Didn't receive confirmation instructions?</button>
    </a>
	<% end %>
    
  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  	<a href="<% new_unlock_path(resource_name) %>">
    	<button type="button" class="btn btn-outline-primary">Didn't receive unlock instructions?</button>
    </a>
	<% end %>
    
  <% if devise_mapping.omniauthable? %>
	  <% resource_class.omniauth_providers.each do |provider| %>
	  	<a href="<% %>">
	    	<button type="button" class="btn btn-outline-primary">Sign in with </button>
	    </a>
	  <% end %>
	<% end %>	
</div>
<br>

